:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #0f1629;
  color: #e2e5ee;
}

a {
  text-decoration: none;
  font-size: 18px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}
